/* General */
.wrap {
	margin: auto;
	max-width: 80%;
	padding-top: 5%;
}

/* navigation */
.top-bar {
	font-family: 'Amatic SC', cursive;
    font-size: 24px;
    background-color: #704646;
}
.top-bar, .top-bar ul  {
	background-color: #704646;
	font-color: white;
}

/* main section */
.main {
	font-family: 'Amatic SC', cursive;
    font-size: 42px;

	background-image: url("../images/background.png");
	height: 85%;
	background-position-x: center;
	background-position-y: top;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-color: #875151;
	

}

#logo{
	position: fixed;
	bottom: 0px;
	right: 100px;
	width: 300px;
}

h1{
		text-align: center;
		font-family: 'Amatic SC', cursive;
	    font-size: 64px;
	    font-color: white;
}

label {
	padding-top: 2em;
	margin: auto;
	width: 35%;
	min-width: 10em;
	font-size: 30px;
	padding-bottom: 25px;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 0.1rem; 
	padding-left: 0.75rem;
	font-size: 1.5rem;
}

.button.alert {
	background-color: #704646;
	font-size: 23px;
	padding: 0.4em 0.5em;

}

.button.alert:hover {
	background-color: #e8b2b2;
}

#buttonDiv{
	z-index: 5;
}

#response {
	font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 24px;
    position: fixed;
	bottom: 100px;
	right: 40%;
	background: none;
	width: 600px;
	z-index: 1;
}

/* footer */
.footer  {
	background-color: #704646;
	height: 9.5%;
}
