<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whine & Cheese</title>
    <link rel="stylesheet" href="../static/css/foundation.css">
    <link rel="stylesheet" href="../static/css/app.css">

    <!-- Get jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="file:///C:/Users/Zoe/Downloads/WhineNCheese-master/WhineNCheese-master/static/js/typed.js"></script>
    <script>
        $(function(){
            $("#typed").typed({
                strings: ["Wine", "Whine"],
                typeSpeed: 223,
                backSpeed: 223,
                loop: true,
                shuffle: true
            });
        });
    </script>

    

    <!-- StyleSheets--> 
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

  </head>
  <body>

    <!-- DESKTOP NAVIGATION -->
    <div class="top-bar">
      <div class="top-bar-title">
         <strong>W(h)ine & Cheese</strong>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
           <li><a href="../templates/index.html" style="color:white">Home</a></li>
           <li><a href="#" style="color:white">FAQ</a></li>
           <li><a href="#" style="color:white">Source</a></li>
        </ul>
      </div>
    </div>
    

    <!-- MAIN SECTION -->
    <div class="about">

       <div id="wine_text">
          <h2 style="color:white">About
            <span id="typed"></span>
              & Cheese
          </h2>

      </div>

      <p>Whine and Cheese is an interaction API which allows users to... qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>

      <p>Whine and Cheese is an interaction API which allows users to... qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    </div>


    <!-- FOOTER -->
    <div class="footer">
      <div class="footer_text">Contact: sauvignon-gouda@w(h)ine.com </div>
    </div>
    <script src="../static/js/api.js"></script>
  </body>
</html>