<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whine & Cheese</title>
    <link rel="stylesheet" href="../static/css/foundation.css">
    <link rel="stylesheet" href="../static/css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

  </head>
  <body>

    <!-- DESKTOP NAVIGATION -->
    <div class="top-bar">
      <!--div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Whine & Cheese</li>
        </ul>
      </div-->
      <div class="top-bar-right">
        <ul class="menu">
           <li><a href="#" style="color:white">About</a></li>
           <li><a href="#" style="color:white">FAQ</a></li>
           <li><a href="#" style="color:white">Source</a></li>
        </ul>
      </div>
    </div>
  

    <!-- MAIN SECTION -->
    <div class="main">
      <div class="wrap">
        
        <h1 style="color:white">Whine & Cheese</h1>
        
        <label style="color:white">
          Wine or Whine!
          <textarea id="query" placeholder="Whine to us or wine to us!"></textarea>
        </label>

        <div id="buttonDiv" style="text-align:center">
          <button class="alert button submit" href="#">W(h)ine</button>
        </div>

        <p id='response'></p>

        <div id="logoDiv">
        </div>
      </div>
    </div>


    <!-- FOOTER -->
    <div class="footer">
    </div>
    <script src="../static/js/api.js"></script>
  </body>
</html>